doctype html
html(lang= 'es')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/main.css")
    title Hoja de vida
  body
    .main-container
      include pages/header.pug
      include pages/principal.pug
      include pages/secondary.pug
      include pages/third.pug
      include pages/footer.pug



