.button {
  padding: $base;
  min-width: 100px;
  background-color: var(--color-primary);
  color: var( --color-white);
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: $radius_button;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border-color: var(--color-primary);
    background-color: var( --color-white);
    color: var(--color-primary);
  }
  &:active {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
}
