button,
.button {
  padding: 0.1875em 0.3125em;
  min-width: 100px;
  font-size: 0.9375em;
  color: var(--color-white);
  outline: none;
  background-color: var(--color-third);
  border: 1px solid var(--color-third);
  border-radius: $radius_button;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border-color: var(--color-third);
    background-color: var(--color-white);
    color: var(--color-third);
  }
  &:active {
    border-color: var(--color-third);
    background-color: var(--color-third);
  }
  @include tabletWidth() {
    padding: 0.6125em;
  }
}

.skeleton {
  animation: skeleton-animation 1.2s linear infinite alternate;
}

.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgb(2, 139, 59);
  border-top-color: #fff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  animation: spinner-animation 1.2s linear infinite;
}
