//COLORS
$color_primary_color: #438c40;
$color_sec_color: #008937;
$color_third_color: #8dc124;
$color_white: #fff;
$color_font_ligth: #f9f9f9;
$color_gray: #bfbfbf;
$color_gray_light: #dfeedc;
$color_gry_dark: #7f7f7f;
$color_font_dark: #252525;
$color_error: #a11616;

//FONTS
$font_normal: "Playfair Display", serif;
$font_title: "Archivo", sans-serif;
$font_cursive: "Aref Ruqaa", serif;
$font_size_base: 16px;

// OTHERS
$base: 10px;
$shadow: 0 4 4 #00000025;
$radius_button: 15px;
$height_fixed: 3.4375em;

