mixin contacto(title, text, url)
  h3= title
  span
    if url
      a(href=url target='_blank')= text
    else
      span= text

main.principal
  article.perfil-principal
    h2 Perfil
    p.
      Soy una persona que me gusta ayudar al que lo 
      necesita, la cualidad que me identifican es la 
      responsabilidad; pero tengo otras que me ayudan a 
      resaltar la cualidad patriarcal: orden, respeto, 
      creativdad y persistencia, todo enfocado de una 
      manera humana.
    p.
      Me perfilo al desarrollo web con python como 
      backend y JavaScript Vanilla como fronted. 
      También me oriento, en menor medida, al desarrollo 
      móvil con Flutter y desarrollos de escritorio con 
      Java.
  article.contacto-principal
    h2 Contacto
    .contacto-subcontainer-principal
      .icon-contacto--subcontainer
      .contacto-container--subcontainer
        +contacto('Teléfono','3504459101')
        +contacto('Email','jaalorsa519@gmail.com')
        +contacto('Github','https://github.com/jaalorsa517','https://github.com/jaalorsa517')
        +contacto(
          'Linkedin',
          'www.linkedin.com/in/jaime-alberto-ortiz-saldarriaga-54a3409b',
          'https://www.linkedin.com/in/jaime-alberto-ortiz-saldarriaga-54a3409b')
        +contacto('Twitter','@jaalorsa517','https://twitter.com/jaalorsa517')