mixin card(img,url,text,description)
	.card-experiencia
		img(src='../images/preview/'+img )
		div
			a(href=url)= text
			p= description

section.secondary
	article.habilidades-secondary
		h2 Habilidades
			ul
				li Desarrollo ágil con SCRUM.
				li Comunicación en equipo por Slack.
				li Terminal y líneas de comandos.
				li Manejo de lo esencial de SQL.
				li Desarrollo en equipo con Git.
				li Programación orientada a objetos.
				li Gestión de contenedores con Docker.
				li Inglés básico.
	article.experiencia-secondary
		h2 Experiencia
		.experiencia-container.python
			h3 Python
			.cards-container
				+card('portada.png',
					'https://github.com/jaalorsa517/pomodoro',
					'Pomodoro', 
					'Aplicación escritorio de un temporizador para '+
					'la técnica pomodoro.')
				+card('portada.png',
					'https://github.com/jaalorsa517/Pedidos',
					'Pedidos',
					'Aplicación para escritorio, muy específica, desarrollada '+
					'para una distribuidora de lácteos para agilizar un '+
					'proceso logístico en el área de ventas. Está hecha '+
					'para el manejo de interfaz gráfica y para ser '+
					'manipulada por la línea de comandos')
				+card('portada.png',
					'https://github.com/jaalorsa517/utilities',
					'Utilities',
					'Recopilación de algunos scripts que facilitan '+
					'ciertos procesos como agregar archivos al '+
					'archivo gitignore, por ejemplo')
			h3 Web
			.cards-container
				+card('page_lading_mobile.png',
					'https://github.com/jaalorsa517/reto1',
					'Landing Page',
					'Ejemplo de una página landing')
				+card('card-desktop-interactivo.png',
					'https://github.com/jaalorsa517/reto2',
					'Card info',
					'Ejemplo de una card de información')
				+card('card-feature-desktop.png',
					'https://github.com/jaalorsa517/reto03',
					'Four cards',
					'Ejemplo de una estructuras de cards')