mixin card(imagen,title,year='Julio 2020',academia='Platzi')
  .card-formacion
    img(src='../images/certificados/'+imagen)
    h4= title
    div(class='academia-container')
      h5= year
      h5= academia


section.third
  h2 Formación
    .formacion-container
      h3 Habilidades
      .categoria-container
        +card('tecnico_sistemas.JPG',
          'Técnico en sistemas',
          '2009',
          'Remington')
        +card('scrum.png',
          'Curso de SCRUM')
        +card('slack.png',
          'Comunicación online con Slack ',
          'Junio 2020')
        +card('linea-comandos.png',
          'Terminal y línea de comandos')
        +card('sql-mysql.png',
          'SQL y MYSQL')
        +card('git.png',
          'Git y Github')
        +card('poo.png',
          'Programación orientada a objetos')
        +card('docker.png',
          'Fundamentos de Docker',
          'Agosto 2020')
      h3 Python
      .categoria-container
        +card('python.png',
          'Python')
        +card('python-crud.png',
          'Python: creación de un CRUD')(id='python-crud')
        +card('flask.png',
          'Flask')
        +card('django.png',
          'Django',
          'Agosto 2020')
      h3 Web
      .categoria-container
        +card('html-css.png',
          'HTML y CSS')
        +card('responsive.png',
          'Responsive Design')
        +card('profesional-js.png',
          'Profesional de Javascript',
          'Agosto 2020')
        +card('desarrollo-web.png',
          'Desarrollo web online')