footer
    h3
        text-align: center
    grid-area: footer
    display: flex
    flex-direction: column
    font-size: 1.5rem
    margin-section()
    & .other-info
        & ul 
            display: flex
            flex-direction: row
            justify-content: start
            width: size-card.w
            height: size-card.h
            & li
                text-decoration: none
                list-style: none
                & .card-info
                    display: flex
                    flex-direction: column
                    justify-content: center
                    margin: 0 10px
                    over-text()
    .attribution
        text-align: center
        margin-top 20px
        font-size: 1.2rem
    