.head
    grid-area: head
    background: linear-gradient(to bottom,color-primary,color-secondary)
    display: flex
    border-radius: 50px
    box-shadow: 5px 5px 5px color-dark
    .image-header
        margin: 10px 50px
        width: altura-head - 10px
        height altura-head - 10px
        border-radius: 100%
        box-shadow: 5px 5px 5px color-dark
    .description-header
        flex-grow: 2
        align-self: center
        text-align: center
        over-text()
        .title--description-header 
            font-size 4rem
        .subtitle--description-header
            font-size: 4.5rem