@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #184d47;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #96bb7c, #eebb4d);
}
h2 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
.main-container {
  max-width: 1280px;
  display: grid;
  grid-template-rows: 300px auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "head head" "primary primary" "secondary third" "footer footer";
}
.head {
  grid-area: head;
  background: linear-gradient(to bottom, #96bb7c, #eebb4d);
  display: flex;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #184d47;
}
.head .image-header {
  margin: 10px 50px;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  box-shadow: 5px 5px 5px #184d47;
}
.head .description-header {
  flex-grow: 2;
  align-self: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.head .description-header .title--description-header {
  font-size: 4rem;
}
.head .description-header .subtitle--description-header {
  font-size: 4.5rem;
}
.principal {
  grid-area: primary;
  margin: 20px 0;
}
.perfil-principal p {
  font-size: 1.5rem;
  text-align: left;
}
.subcontainer--principal {
  display: flex;
}
.contacto-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: 250px;
  height: auto;
}
.contacto-card .icon-contacto {
  width: 48px;
  height: 48px;
}
.contacto-card a {
  font-size: 1.5rem;
  text-align: center;
}
.contacto-card span {
  font-size: 1.5rem;
  text-align: center;
}
.secondary {
  grid-area: secondary;
  margin: 50px 10px;
}
.cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #f0dcb2 #eebb4d;
}
.card-experiencia {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 1.2rem;
}
.card-experiencia img {
  width: 100%;
  height: 100%;
}
.card-experiencia div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: none;
  background: rgba(24,77,71,0.4);
  display: flex;
  flex-direction: column;
}
.card-experiencia div a {
  top: 20%;
  left: 20%;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.card-experiencia div p {
  top: 20%;
  left: 20%;
  color: #fff;
  text-align: left;
}
.card-experiencia div::-webkit-scrollbar {
  display: none;
}
.cards-container::-webkit-scrollbar {
  background-color: #eebb4d;
}
.cards-container::-webkit-scrollbar:active {
  background-color: #f0dcb2;
}
.cards-container::-webkit-scrollbar:hover {
  background-color: #f0dcb2;
}
.card-experiencia:hover {
  width: 375px;
  height: 375px;
}
.habilidades-secondary li {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  text-align: left;
}
.third {
  grid-area: third;
  margin: 50px 10px;
}
.categoria-container {
  display: flex;
  margin: 35px 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #f0dcb2 #eebb4d;
}
.categoria-container::-webkit-scrollbar {
  background-color: #eebb4d;
}
.categoria-container::-webkit-scrollbar:active {
  background-color: #f0dcb2;
}
.categoria-container::-webkit-scrollbar:hover {
  background-color: #f0dcb2;
}
.card-formacion {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-formacion img {
  width: 80%;
  height: 80%;
}
.card-formacion h4 {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  margin: 0;
}
.card-formacion div {
  text-align: center;
}
.card-formacion div h5 {
  margin: 10px 0;
}
.card-formacion:hover {
  width: 375px;
  height: 375px;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 50px 10px;
}
footer h3 {
  text-align: center;
}
footer .other-info ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 250px;
  height: 120px;
}
footer .other-info ul li {
  text-decoration: none;
  list-style: none;
}
footer .other-info ul li .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
footer .attribution {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}
@media screen and (max-width: 1279px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
  .subcontainer--principal {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #f0dcb2 #eebb4d;
  }
  .subcontainer--principal::-webkit-scrollbar {
    background-color: #eebb4d;
  }
  .subcontainer--principal::-webkit-scrollbar:active {
    background-color: #f0dcb2;
  }
  .subcontainer--principal::-webkit-scrollbar:hover {
    background-color: #f0dcb2;
  }
  .contacto-card {
    margin: 10px;
    width: auto;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
  .head .image-header {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .head {
    flex-direction: column;
    justify-content: center;
  }
  .title--description-header {
    font-size: 1.5rem;
  }
  .subtitle--description-header {
    font-size: 1.3rem;
  }
}
@media print {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    max-width: 19cm;
    box-shadow: 0px 0px #184d47;
    page-break-before: always;
  }
  .subcontainer--principal {
    flex-wrap: wrap;
  }
  .secondary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    max-width: 19cm;
    box-shadow: 0px 0px #184d47;
    page-break-before: always;
  }
  .secondary .cards-container {
    overflow: hidden;
    flex-wrap: wrap;
  }
  .secondary .cards-container .card-experiencia {
    margin: 10px;
  }
  .third {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    max-width: 19cm;
    box-shadow: 0px 0px #184d47;
    page-break-before: always;
  }
  .third .categoria-container {
    overflow: hidden;
    flex-wrap: wrap;
  }
  .third .categoria-container .card-formacion {
    margin: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    max-width: 19cm;
    box-shadow: 0px 0px #184d47;
    page-break-before: always;
  }
}
