@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap')
@import 'variables'

html
    font-family: 'Poppins', sans-serif
    font-size: 12px
    color: color-dark
body
    margin: 0
    padding: 0
    display:flex
    justify-content: center
    background linear-gradient(to bottom, color-primary,color-secondary)
h2
    font-size 3rem
    text-align: center
h3
    font-size 2rem
h4
    font-size 1.5rem
h5
    font-size 1.2rem
.main-container
    max-width 1280px
    display: grid
    grid-template-rows: altura-head auto auto
    grid-template-columns: 50% 50%
    grid-template-areas: "head head"\
                "primary primary"\
                "secondary third"\
                "footer footer"
@import 'head'
@import 'primary'
@import 'secondary'
@import 'third'
@import 'footer'
@import 'mobile'