@media screen and (max-width 1279px)
    .main-container
        display: flex
        flex-direction: column
        justify-content: center
        max-width: 100%
    .subcontainer--principal
        scrolling()
    .contacto-card
        margin: 10px
@media screen and (max-width 800px)
    html
        font-size 10px
    .image-header
        width: altura-head/2
        height: altura-head/2
@media screen and (max-width 500px)
    html
        font-size 8px
    .head
        flex-direction: column
        justify-content: center
    .title--description-header 
        font-size 1.5rem
    .subtitle--description-header
        font-size 1.3rem