@media screen and (max-width 1279px)
    .main-container
        display: flex
        flex-direction: column
        justify-content: center
        max-width: 100%
    .subcontainer--principal
        scrolling()
    .subcontainer--principal::-webkit-scrollbar
	    background-color: color-secondary
    .subcontainer--principal::-webkit-scrollbar:active
    	background-color: #f0dcb2
    .subcontainer--principal::-webkit-scrollbar:hover
	    background-color: #f0dcb2
    .contacto-card
        margin: 10px
        width: auto
@media screen and (max-width 800px)
    html
        font-size 10px
    .head
        & .image-header
            width: (altura-head / 1.5)
            height: (altura-head / 1.5)
@media screen and (max-width 500px)
    html
        font-size 8px
    .head
        flex-direction: column
        justify-content: center
    .title--description-header 
        font-size 1.5rem
    .subtitle--description-header
        font-size 1.3rem
    // .image-header
    //     width: altura-head / 3
    //     height: altura-head / 3