.principal
	margin: 20px 0
	grid-area: primary
.perfil-principal
	& p
		font-size 1.5rem
		text-align: left
.subcontainer--principal
	display: flex
	flex-wrap: wrap
.contacto-card
	display flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	width: size-card.w
	height size-card.h
	.icon-contacto
		width: 48px
		height 48px
	& a
		font-size 1.5rem
		text-align: center
	& span
		font-size 1.5rem
		text-align: center
		
