size-letter = {w: (215mm - 50mm),h: (279mm - 50mm)}
config()
    display: flex
    flex-direction: column
    max-width: size-letter.w
    box-shadow: 0px 0px color-dark

@media print
    html
        font-size: 12pt
    h3
        font-size: 1rem
    h4,h5, span, a
        font-size: 0.8rem
    @page
        margin: 25mm
        size: letter
    .body
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        font-size: 1rem
    .main-container
        width: size-letter.w
        display: flex
        flex-direction: column
        align-items:center
        .head
            height: size-letter.h
            flex-direction: column
            justify-content: center
            align-items: center
            break-before: always
        .principal
            height: auto
            margin: auto
            margin-top: 10px
            config()
            .perfil-principal
                height: size-letter.h
                h2
                    margin: 10px 0 0 0
                p
                    margin: 10px 0 0 0
            .contacto-principal
                height: size-letter.h
            .subcontainer--principal
                flex-wrap: wrap
                .contacto-car
                    img
                        width: 16px
                        height 16px
        .secondary
            // page-break-inside: always
            config()
            .habilidades-secondary
                height: size-letter.h
                margin-top: 10px
            .experiencia-secondary
                height: (size-letter.h * 2)
                .cards-container
                    page-break-inside: avoid
                    height: 150mm
                    overflow hidden
                    flex-wrap: wrap
                    .card-experiencia
                        margin: 10px
        .third
            height: (size-letter.h * 1.3)
            margin: 0
            h2
                margin: 0
            config()
            .categoria-container
                .card-formacion
                    width: auto
                    height: auto
                    flex-wrap: wrap
                    margin: 10px
                    img
                        width: 50px
                        height 50px
    .categoria-container
        overflow hidden
        flex-wrap: wrap
        .card-formacion
            margin:10px
        .footer
            margin: 0
            config()
