.third
	grid-area:third
	margin-section()
.categoria-container
	display flex
	margin 35px 0
	scrolling()
.categoria-container::-webkit-scrollbar
	background-color: color-secondary
.categoria-container::-webkit-scrollbar:active
	background-color: #f0dcb2
.categoria-container::-webkit-scrollbar:hover
	background-color: #f0dcb2
.card-formacion
	flex-shrink: 0
	width: size-card.w	
	height: size-card.w 
	display flex
	flex-direction: column
	align-items: center
	justify-content: center
	& img 
		width: 80%
		height 80%
	& h4
		text-align: center
		text-overflow: ellipsis
		overflow hidden
		white-space: normal
		margin 0
	& div
		text-align: center
		& h5
			margin 10px 0
.card-formacion:hover
	width: size-card.w	* 1.5
	height: size-card.w  * 1.5