altura-head= 300px
size-card = {w:250px, h:120px}

// colores
color-primary= #96bb7c 
color-secondary= #eebb4d
color-dark= #184d47
color-ligth= #d6efc7

scrolling()
    overflow-x auto
    overflow-y hidden
    scrollbar-color: #f0dcb2 color-secondary
margin-section()
    margin 50px 10px
over-text()
    overflow hidden
    text-overflow: ellipsis
    white-space: normal